<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div layout:fragment="main-content">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <h3>User Registration</h3>
    <!-- Registration is now handled by Keycloak. Please use the Keycloak registration page. -->
    <p>Registration is now handled by Keycloak. <a href="http://localhost:8081/realms/petsystem/account/#/register">Register here</a>.</p>
</div>

</div>
</body>
</html>